<!DOCTYPE html>
<html>
	{% load staticfiles %}
	
	<head>
		<title>Home</title>
	</head>
	
	<body>

{% include 'header.html' %}

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel blandit tellus, vel varius dolor. Fusce nulla eros, ultrices et ante non, porttitor euismod lacus. Curabitur sodales luctus orci quis posuere. Nulla elementum enim at lobortis volutpat. Vestibulum massa ex, venenatis ut odio vitae, sodales commodo risus. Aenean in euismod diam. Maecenas molestie at sapien at aliquet. Nunc sed enim maximus, congue nulla id, molestie nibh. Aliquam in efficitur diam, eget lacinia risus. Fusce at magna quis velit dapibus ullamcorper finibus a libero. Interdum et malesuada fames ac ante ipsum primis in faucibus.
		</p>
		
		<p>Etiam condimentum arcu nec augue commodo, ut suscipit nulla aliquet. Etiam eu neque iaculis, feugiat nibh vel, mattis nulla. Ut a odio tellus. Maecenas elit tellus, pulvinar at libero condimentum, blandit ornare nisi. Integer ut lacus fermentum, dapibus lacus et, laoreet arcu. Vivamus ut semper lacus. Etiam tincidunt nunc a auctor feugiat. Suspendisse ac nunc non ante accumsan sodales. Phasellus mi libero, sagittis sed posuere at, imperdiet non magna. Cras sed tristique nibh, tempus aliquam nunc. Maecenas nec convallis ex, consectetur aliquet quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque eu eros lacus. Ut placerat elit tortor, vel faucibus metus finibus a.
		</p>

{% include 'footer.html' %}

	</body>
</html>
