<!--header-->

<head>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen">
</head>

<body>
	<script src="/static/js/bootstrap.min.js"></script>
</body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		<a class="navbar-brand" href="">Imperial Judge</a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li 
				{% if "home" in path %}
					class="active"
				{% endif %}
			>
				<a href="/home/">Home</a>
			</li>
			<li 
				{% if "tasks" in path %}
					class="active"
				{% endif %}
			>
				<a href="/tasks/">Tasks</a>
			</li>
			<li 
				{% if "questions" in path %}
					class="active"
				{% endif %}
			>
				<a href="/questions/">Questions</a> 
			</li>
			<li 
				{% if "articles" in path %}
					class="active"
				{% endif %}
			>
				<a href="/articles/">Articles</a> 
			</li>
			<li 
				{% if "hacks" in path %}
					class="active"
				{% endif %}
			>
				<a href="/hacks/">Hacks</a> 
			</li>
							
			<li 
				{% if "freshers" in path %}
					class="dropdown active"
				{% else %}
					class="dropdown"
				{% endif %}
			>
			</li>
			
			<li class="dropdown">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">Freshers <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#">Inbox</a></li>
					<li><a href="#">Drafts</a></li>
					<li><a href="#">Sent Items</a></li>
					<li class="divider"></li>
					<li><a href="#">Trash</a></li>
				</ul>
			</li>
		</ul>
		
		<form class="navbar-form navbar-left" role="search" action="." method="GET">
			<div class="form-group" for="q">
				<input class="form-control" type="text" name="q" value="{{ query|escape }}" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default" value="Search">Submit</button>
		</form>
      
		<ul class="nav navbar-nav navbar-right">
			<li	{% if "accounts" in path %}
					class="active"
				{% endif %}
			><a href="/accounts/login/">
				Login
			</a></li>
			<li><a>{% include 'datetime.html' %}</a></li>
		</ul>
	</div>
</div>
</nav>

<!--/header-->
